.logo {
       padding: 15px 0;
        color: var(--black-text-color);
        font-family: var(--logo-font);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        text-decoration: none;
        transition: var(--timing-cubic-bezier);
    @media screen and (min-width: 768px) {
        padding: 25px 0px;
        margin-right: 87px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        margin-right: 93px;
    }
   

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
    
        &__prepend {
            color: var(--accent-color);
        }
}

