.hero {
    padding: 200px 0;
    text-align: center;

    &__overlay {
            max-width: 1600px;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            background-image: linear-gradient(to right, var(--linear-gradient-color), var(--linear-gradient-color)),
                url(../images/hero.jpg);
            background-position: center;
            background-color: var(--overlay-background-color);
        }
    
        &__title {
            max-width: 696px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
    
            color: var(--white-text-color);
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
    
        &__button {
            padding: 10px 32px;
            min-width: 216px;
        }
}

