.services {
    padding-top: 0;
    &__list {
            display: flex;
        }
    
        &__item {
            position: relative;
            width: 370px;
        }
    
        &__item {
            &:not(:last-child) {
                margin-right: 30px;
            }}
    
        &__overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 70px;
            background-color: var(--services-list-overlay);
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

